body{
    background-color: #F3F1FF;
}
.color{
    background-color: #562EFF;
    border-radius: 5px;
}
.text-right{
    margin-left:10%;
}
.width{
    width: 30px;
}
.Avatar{
vertical-align: middle;
width: 30px;
height:30px;
border-radius: 50%;
}
.photo{
    width: 80px;
    height:80px;
    margin: 10px;
    
}
.photo-0{
    background-color: #FFF;
    border-radius: 5px;
    width: 770px;
    height: 779px;
    padding: 20%;
}
.container{
    margin-bottom:3%;
    font-family:time new;
    font-size:medium;
}
.photo-2{
    width: 100px;
    height: 100px;
}
.box{
    text-align: center;
}
.py{
    font-size: small;
}

.course{
    width: 160px;
    height: 100px;
}
.width-1{
    height:300px;
    
}